#!/bin/bash
#
export CSPACEURL="https://ucjeps-dev.cspace.berkeley.edu"
export CSPACEUSER="xxxxx:xxxxx"
echo
echo ">>>>> Environment variables set:"
echo CSPACEURL  $CSPACEURL
echo CSPACEUSER $CSPACEUSER
echo
